/frontend/node_modules
__pycache__
backend/tsp_project/email_config.py

backend/checkpoints/**
!backend/checkpoints/**/

!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/
!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/pretrain_model_checkpoint.pth
!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/Model_checkpoint.pth
!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/adapter_checkpoint.pth
!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/losses.pkl
!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/preds.npy
!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/trues.npy
!backend/checkpoints/ETTh1_336_168_DDPM_custom_ftM_sl336_ll336_pl168_dt0_TWO/history.npy

!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/
!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/pretrain_model_checkpoint.pth
!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/Model_checkpoint.pth
!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/adapter_checkpoint.pth
!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/losses.pkl
!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/preds.npy
!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/trues.npy
!backend/checkpoints/Exchange_60_14_DDPM_custom_ftM_sl60_ll7_pl14_dt0_TWO/history.npy
